<!DOCTYPE html>
<html lang="ko">
<head>
    {# include "삽입할 페이지"or ["",""]  그리고 페이지가 없어도 오류를 발생시키지 않으려면 ignore missing 표시 #}
    {% include ['common/head.html','b.html','c.html'] ignore missing %} <!-- 백업용으로 플랜 bc 준비한 것 // html 끌고오기-->
</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        {% include "common/navi.html" %}
        {% include "sub/upload_sub.html" %}
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include 'common/foot.html' ignore missing %}
</body>
</html>