<div class="navbar-header">
    <!-- 모바일 화면에서 사이드 메뉴를 토글(on/off) 하능 기능 -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!-- 사이트 제목 표시 및 홈페이지 이동하는 링크 제공  -->
    <a class="navbar-brand" href="/">{{ '%s %s' % (config.site_name,config.version) }}</a>
</div>
<!-- /.navbar-header -->