<script>
        alert('{{msg}}');    // 팝업 띄우기
        {% if not url: %}
            // 이전 페이지로 돌아가기(에러 케이스)
            history.back(); // 이전 페이지 이동
        {% else %}
        // 다른 페이지로 돌아가기(정상 케이스)
            document.location.href= '{{url}}' ; // 다른 페이지 이동  Python의 redirect와 같음
        {% endif %}
    </script>



<!--진자 2 엔진 입장////////////////////////
    에서 html,javascript,css : 그냥 텍스트 (의미없음
    ->주석으로 렌더링시 제거함

    {{변수}} ->해당 변수를 값으로 변환
    {% %} -> 파이썬 구문으로 인식하고 제어문을 구동시킴

    ==>렌더링 후 결과물은  =>단지 텍스트
    ==>응답 =>브라우저로 전송
    =>브라우저가 렌더링의 결과물에 의미를 두고 표현함 -->
