<!DOCTYPE html>
<html lang="ko">
<head>
    {# include "삽입할 페이지"or ["",""]  그리고 페이지가 없어도 오류를 발생시키지 않으려면 ignore missing 표시 #}
    {% include ['common/head.html','b.html','c.html'] ignore missing %} <!-- 백업용으로 플랜 bc 준비한 것 // html 끌고오기-->
</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        {% include "common/navi.html" %}
        {% include "sub/eplList_sub.html" %}
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include 'common/foot.html' ignore missing %}
    <script>
            // input 태그를 찾아서 엔터 이벤트를 붙인다 >> search() 를 최종적으로 호출해야 버튼과 같은 기능을 하게 된다
            $('#searchKeyword').on('keypress', function(evt){
                if(evt.keyCode === 13){
                    search();
                }
            } );  // javascript에서 특정요소 이벤트를 붙이는 방법 >> .on('이벤트명',할 기능(함수로)); 로 정의/등록! 
            function search(){
                // console.log(' :D ')
                // 입력내용을 획득
                var inputValue = $('#searchKeyword').val() ;    // $(문자열) >> jquery & #~~ >> js 언어 // val() : 값을 뽑는 함수
                console.log(inputValue);
                // b 태그 내부에 덮어쓴다 (지우고 추가한다)
                $('b').empty(); // 자식을 지운다
                $('b').append(inputValue); // 자식을 추가한다
                searchNet();
            }
            function searchNet(){
                // POST 통신 >> ajax 기술이용 >> 현재화면은 그대로 존재 & 뒤에서 통신
                // data:'keyword=검색어' ex) 'keyword = 검색어&name=xxx&age=10...'
                // 통신이 성공하면 json 객체를 생성하고 이 결과를 success에 연결됨 
                // 함수를 호출하면서 인자로 전달함(resData)
             
             
                $.post({
                    url:'/search',
                    data: 'keyword=' + $('#searchKeyword').val(),
                    dataType: 'json',                                    // 여기가 반응하면 run.py의 search함수가 작동함!
                    success: function(resData){
                        console.log('성공XD',resData);
                        searchResultShow(resData); // 검색결과를 화면에 표시하기 위해 함수  호출
                        // $('#searchKeyword').val('') ; // 입력창 비우기
                        // 임시 검색 결과 표현
                        // $('b').append("<span style ='color : red ;'>->"+ resData.name+"</span>");
                    },
                    error: function(err){
                        console.log('실패 :(' , err);
                    }
                });
            }
            
            function searchResultShow( data ){
                // data가 들어오면 데이터를 획득하여 html화면에 동적으로 표현하겠다
                 // $.each(배열,콜백함수);는 배열(리스트) 데이터를 반복적으로 처리할때 사용한다!
                 $('#resultShowBase').empty();
                 $.each(data,(idx,item)=>{
                    console.log(item.name,item.rank);
                    
                    // var html = $('#resultShowBase').append( `<div>순위 ${item.rank} : ${item.name}</div>` );    // js의 정규 표현식 표현 ``(o) ''(x) -->
                    var html = `<tr>
                            <td>${item.rank}</td>
                            <td>${item.name}</td>
                        </tr>`;
                    $('#resultShowBase').append( html )
                    // 방금 추가된 div 를 의미하는 코드는
                    $('#resultShowBase>div:last').on('click',()=>{
                        // alert(item.name);
                        document.location.href='/info/'+ item.name
                    });    
                }); 
                // 데코레이션 css 적용
                // 의사결정 셀렉터 적용 >> 대상군:odd or even eq(),lt(),gt(),first(),last()
                $('#resultShowBase>div:odd').css('background-color','lightgreen');
                // 막내만 그레이 배경색으로
                $('#resultShowBase>div:last').css('background-color','grey');
            }
            
    </script>
</body>
</html>